// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cart {
    background-color: white;
    padding: 0 20px;
    border-radius: 10px;
    
    h2 {
        font-size: 1.5em;
        line-height: 1;
    }

    table {
        width: 100%;
    }
}

.item-price, .total-line {
    text-align: right;
}

.total-line .total-cell {
    font-weight: bold;
    border-top: 1px solid #595;
}
