// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

#display-storefront {
    padding: 20px 0;
    a.book-storefront {
        display: block;
        float: left;
        position: relative;
        width: 126px;
        margin: 10px;
        img {
            // float: left;
            // height: 200px;
            // margin: 0 20px 20px 0;
            width: 126px;
            height: 199px;
            box-shadow: 6px 6px $fg-color-faded;
        }
        .teaser {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 100%;
            min-width: 100%;
            overflow: hidden;
            opacity: 0;
            background-color: rgba(50, 50, 50,0.9);
            color: #eee !important;
            font-size: 0.8em;
            line-height: 1.4;
            -webkit-transition: opacity .5s;
            h3, h4 {
                margin-top: 0;
                line-height: 1;
                font-size: 1.3em;
            }
            .teaser-text {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 5px;
            }
        }
    }
    a.book-storefront.featured {
        width: 272px;
        img {
            width: 272px;
            height: 418px;
        }
        .teaser {
            // font-size: 1em;
            h3, h4 {
                line-height: 1;
                font-size: 1.6em;
            }
            .teaser-text {
                padding: 10px;
            }
        }
    }    
    a:hover {
        .teaser {
            opacity: 1;
        }
    }
    h3 {
        margin-top: -10px;
    }
    h4  {
        font-weight: normal;
    }
    .price-line {
        .price {
            font-weight: bold;
        }
        form, div {
            display: inline;
        }
    }
}