// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entry {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    h3 {
        margin-top: -10px;
        .author  {
            font-weight: normal;
        }
    }
    img {
        float: left;
        height: 200px;
        margin: 0 20px 20px 0;
        border: 1px solid #333;
    }
    .price-line {
        .price {
            font-weight: bold;
        }
        form, div {
            display: inline;
        }
    }
}