<!DOCTYPE html>
<html>
<head>
  <title>Bks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="jumbotron subhead">
        <div class="container">
            <h1>URBANOMIC</h1>
        </div>
    </header>

<%= yield %>

</body>
</html>
